Django==1.6.1
South==0.8.4
argparse==1.2.1
django-json-field==0.5.5
django-money==0.4.1
django-remote-forms==0.0.1
django-tastypie==0.11.0
py-moneyed==0.5.0
pystache==0.3.1
python-dateutil==2.2
python-mimeparse==0.1.4
simplejson==3.3.1
six==1.4.1
wsgiref==0.1.2
-e git://github.com:hugotox/django-remote-forms.git#egg=django_remote_forms