    <!-- BEGIN Contact -->
    <section id="contact" class="contact" style="background:url('{{ STATIC_URL }}memandang/images/contact-background.jpg');">
        <div class="contact-wrapper">
            <div class="container">
                <div class="wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="contact-slider">
                                <ul>
                                    <li>
                                        <!-- Contact details -->
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="bio">
                                                    <h3 class="text-center">// indiepen</h3>
                                                    <p class="text-center" >Questions and comments are welcome, so please, drop us a line.</p>
                                                    <p class="text-center" >Made in Brooklyn NY</p>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="credits">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-6 col-sm-6">
                                <p class="credits-title-link text-center"><a class="hovercolor" href="http://www.facebook.com/indiepen">Contact</a> / <a class="hovercolor" href="{{ STATIC_URL }}/legal/privacy.pdf">Privacy</a> / <a class="hovercolor" href="javascript:;">Blog</a> / <a class="hovercolor" href="{{ STATIC_URL }}/legal/tos.pdf">Terms</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END Contact -->