<p class="message">
<input type="text" id="message" value="{{ message }}" /></p>
<p><button class="save">Save</button></p>
<abbr class="timestamp">
  <a class="permalink" href="/{{id}}/">{{ timestamp }}</a>
</abbr>
