{% extends "bootstrap.html" %}
{% load markdown_deux_tags %}

{% block title %}Indiepen{% endblock %}

{% block showcase %}

<ul class="dp_tmtimeline">
  {% for s in stream %}
  <li>
    <time class="dp_tmtime" datetime="2013-04-10 18:30">
    <span><img src="http://graph.facebook.com/{{ s.actor.profile.get_facebook_id }}/picture?type=square" /></span>
      <span>{{ s.timestamp|date:"F j" }}</span>
      <span>{{ s.timestamp.year }}</span>
    </time>
    <div class="dp_tmicon icon-pencil"></div>
    <div class="dp_tmlabel animaze fromTop" style="opacity: 1; top: 0px;">
      <div class="text row">
        <div class="col-xs-5 col-md-9">
          <a href="/users/{{ s.actor.id}}/">{{ s.actor.first_name }} {{ s.actor.last_name }}</a> {{ s.verb }} <a href="{{ s.target.get_absolute_url }}">{{ s.target }}</a>
          <p><a href="{{ m.get_absolute_url }}" >{{ m.get_file_name }}</a> {{ m.brief }}</p>
        </div>
        <div>
          {% with m=s.action_object.instance %}
          <div class="col-xs-6 col-md-3">
            {% if m.get_class_name == "Media" %}
            {% include "media/representation.html" with truncate=True%}
            {% endif %}
          </div>
          {% endwith %}
        </div>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>

{% endblock %}

{% block audit %}
{% endblock %}