<!DOCTYPE html>


<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Develpixel">
    <link rel="shortcut icon" href="{{ STATIC_URL }}memandang/images/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{ STATIC_URL }}memandang/images/favicon/favicon.ico" type="image/x-icon">

    <title>indiepen - Business Template</title>

    <!-- PACE.JS -->
    <script src="{{ STATIC_URL }}memandang/js/lib/pace.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}memandang/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}memandang/css/lib/font-awesome.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}memandang/css/styles.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}memandang/css/scheme/soft-green.css" rel="stylesheet" id="clscheme">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ STATIC_URL }}memandang/js/html5shiv.js"></script>
      <script src="{{ STATIC_URL }}memandang/js/respond.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll" data-target="#navbar">
    <div id="lazyload"></div>
    <!-- BEGIN Navbar -->
    <nav id="navbars" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="wrapper">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="javascript:;">
                    <img src="{{ STATIC_URL }}memandang/images/logo.png" class="logo" alt="logo">indiepen.</a>
            </div>

            <div id="navbar" class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class=""><a href="#home-slide">HOME</a>
                    </li>
                    <li class=""><a href="#about">ABOUT</a>
                    </li>
                    <li class=""><a href="#contact">CONTACT</a>
                    </li>
                    <li class="dropdown">
                        <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">PAGES <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="index.html">Home Basic</a>
                            </li>
                            <li><a href="personal.html">Home Alternate</a>
                            </li>
                            <li><a href="blog.html">Blog</a>
                            </li>
                            <li><a href="blog-post.html">Blog Post</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="nav-spacer">&nbsp;</a>
                    </li>
                    <li><a href="javascript:;"><i class="icon-facebook"></i></a>
                    </li>
                    <li><a href="javascript:;"><i class="icon-twitter"></i></a>
                    </li>
                    <li><a href="javascript:;"><i class="icon-envelope-alt"></i></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /wrapper -->
    </nav>
    <!-- END Navbar -->

    <!-- BEGIN Slider -->
    <div id="home-slide">
        <ul class="slides-container text-center">
            <li>
                <!-- Slide -->
                <div class="slides-filter"></div>
                <div style="background-image: url('{{ STATIC_URL }}memandang/images/home-slide-2.jpg');" class="bg-parallax parallaxize"></div>
                <div class="bigHeader slideUp">
                    <div class="front-logo"></div>
                    <hr class="white">
                    <h1 class="white uppercase hugetext">like medium, but with a business plan</h1>
                </div>
            </li>
            <li>
                <!-- Slide -->
                <div class="slides-filter"></div>
                <div style="background-image: url('{{ STATIC_URL }}memandang/images/home-slide-1.jpg');" class="bg-parallax parallaxize"></div>
                <div class="bigHeader slideUp">
                <div class="front-logo"></div>
                    <hr class="white">
                    <h1 class="hugetext white">We're Social</h1>
                    <p>
                        <a href="javascript:;"><i class="icon-facebook icon-social button-white-side"></i></a>
                        <a href="javascript:;"><i class="icon-twitter icon-social button-white-side"></i></a>
                        <a href="javascript:;"><i class="icon-google-plus icon-social button-white-side"></i></a>
                    </p>
                </div>
            </li>
            <li>
                <!-- Slide -->
                <div class="slides-filter"></div>
                <div style="background-image: url('{{ STATIC_URL }}memandang/images/home-slide-3.jpg');" class="bg-parallax parallaxize"></div>
                <div class="bigHeader slideUp">
                    <div class="front-logo"></div>
                    <hr class="white">
                    <h1 class="white uppercase hugetext">SUBMIT A PROPOSAL</h1>
                    <p><a href="{% if user.is_authenticated %}{% else %}{% endif %}" class="button button-white-side">Find Out More</a>
                    </p>
                </div>
            </li>
        </ul>
        <nav class="slides-navigation">
            <a href="javascript:;" class="prev"><i class="icon-angle-left"></i></a>
            <a href="javascript:;" class="next"><i class="icon-angle-right"></i></a>
        </nav>
    </div>
    <!-- END Slider -->
    <!-- BEGIN Intro -->
    <section class="about">
        <div class="container">
            <div class="wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="grey text-center">indiepen is a marketplace for the service of investigation.</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END Intro -->
    <!-- BEGIN Howto -->
    <section id="howto" class="howto">
        <div class="container">
            <div class="wrapper">
                <div class="row">
                    <div class="col-lg-12  animaze fromTop">
                        <div class="title text-center">
                            <h1>WHY THIS IS IMPORTANT</h1>
                            <hr/>
                        </div>
                    </div>
                    <!-- featured 1 -->
                    <div class="col-lg-4 animaze fromBottom">
                        <div class="featured-box">
                            <div class="featured-icon">
                                <i class="icon-resize-full"></i>
                                <span></span>
                            </div>
                            <div class="featured-desc">
                                <h3>We Need Watchdogs</h3>
                                <p>Perverse incentives have lead traditional news organizations scrambling for pageviews leaving important news uncovered.</p>
                            </div>
                        </div>
                    </div>
                    <!-- featured 2 -->
                    <div class="col-lg-4 animaze fromBottom">
                        <div class="featured-box">
                            <div class="featured-icon">
                                <i class="icon-wrench"></i>
                                <span></span>
                            </div>
                            <div class="featured-desc">
                                <h3>Who's Paying For Your News?</h3>
                                <p>Lots of research and news is payed for by interested parties.  If you don't know who's paying, you don't know what's propaganda.</p>
                            </div>
                        </div>
                    </div>
                    <!-- featured 3 -->
                    <div class="col-lg-4 animaze fromTop">
                        <div class="featured-box">
                            <div class="featured-icon">
                                <i class="icon-eye-open"></i>
                                <span></span>
                            </div>
                            <div class="featured-desc">
                                <h3>Retina Ready</h3>
                                <p>Suspendisse nibh velit, blandit et massa in, tempus vulputate magna.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END Howto -->

    <!-- BEGIN Services -->
    <section id="services" class="parallaxize services-wrapper">
        <div class="services">
            <div class="container">
                <div class="wrapper">
                    <div class="row">
                        <div class="col-lg-12  animaze fromTop">
                            <div class="title text-center">
                                <h1 class="white">CAPABILITY</h1>
                                <hr class="white" />
                            </div>
                        </div>
                        <div class="col-lg-12 animaze fromBottom">
                            <div id="dp-service">
                                <ul>
                                    <li>
                                        <!-- Service -->
                                        <img src="{{ STATIC_URL }}memandang/images/product_2.jpg" alt="">
                                        <h3 class="color text-center">We Create Something</h3>
                                        <p>Design often necessitates considering the aesthetic and functional dimensions of both the design object and process. It involves research, thought, modeling, interactive adjustment, and re-design. Diverse kinds of objects may be designed, including clothing, graphical user interfaces and corporate identities.</p>
                                    </li>
                                    <li>
                                        <!-- Service -->
                                        <img src="{{ STATIC_URL }}memandang/images/product_1.jpg" alt="">
                                        <h3 class="color text-center">Do Typing</h3>
                                        <p>Coding often necessitates considering the aesthetic and functional dimensions of both the design object and process. It involves research, thought, modeling, interactive adjustment, and re-design. Diverse kinds of objects may be designed, including clothing, graphical user interfaces and corporate identities.</p>
                                    </li>
                                    <li>
                                        <!-- Service -->
                                        <img src="{{ STATIC_URL }}memandang/images/product_4.jpg" alt="">
                                        <h3 class="color text-center">Passion On Drawing</h3>
                                        <p>Illustration often necessitates considering the aesthetic and functional dimensions of both the design object and process. It involves research, thought, modeling, interactive adjustment, and re-design. Diverse kinds of objects may be designed, including clothing, graphical user interfaces and corporate identities.</p>
                                    </li>
                                    <li>
                                        <!-- Service -->
                                        <img src="{{ STATIC_URL }}memandang/images/product_3.jpg" alt="">
                                        <h3 class="color text-center">Best Documentation</h3>
                                        <p>Photography often necessitates considering the aesthetic and functional dimensions of both the design object and process. It involves research, thought, modeling, interactive adjustment, and re-design. Diverse kinds of objects may be designed, including clothing, graphical user interfaces and corporate identities.</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-12 animaze fromBottom">
                            <div class="services-indicators text-center">
                                <a data-rel="1" href="javascript:void(0);" class="servicesLink"><i class="icon-magic"></i></a>
                                <a data-rel="2" href="javascript:void(0);" class="servicesLink"><i class="icon-keyboard"></i></a>
                                <a data-rel="3" href="javascript:void(0);" class="servicesLink"><i class="icon-pencil"></i></a>
                                <a data-rel="4" href="javascript:void(0);" class="servicesLink"><i class="icon-camera"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END Services -->
    <!-- BEGIN Portfolio -->
    <section id="portfolio" class="portfolio">
        <div class="container">
            <div class="wrapper">
                <div class="row">
                    <div class="col-lg-12 animaze fromTop">
                        <div class="title text-center">
                            <h1>APPROVED PROJECTS</h1>
                            <hr/>
                        </div>
                        <h2 class="portfolioFilter text-center">WE DO WORK ABOUT <a href="javascript:;" data-filter="websites">WEBSITES</a>, <a href="javascript:;" data-filter="illustrations">ILLUSTRATIONS</a>, <a href="javascript:;" data-filter="photo">PHOTOGRAPHS</a>  <a href="javascript:;" data-filter="all">AND EVERYTHING</a>
                        </h2>
                    </div>
                    <div class="col-lg-12 animaze fromBottom">
                        <div class="row portfolioContainer  text-center">
                            <div class="col-lg-4 portfolio-item websites">
                                <a class="popup" href="{{ STATIC_URL }}memandang/images/image-01-full.jpg">
                                    <span class="project-hover">
                                        <span>Fukishima
                                        </span>
                                    </span>
                                    <img src="{{ STATIC_URL }}memandang/images/portfolio-thumb-1.jpg" alt="portfolio-thumb-1">
                                </a>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END Portfolio -->
    <!-- BEGIN Call to Action -->
        <div class="slider-about-wrapper parallaxize" style="background:url('{{ STATIC_URL }}memandang/images/about-us-background.jpg');">
            <div class="slider-about">
                <div class="container">
                    <div class="wrapper">
                        <div class="row">
                            <div class="col-lg-12 slide-text-wrapper">
                                <div class="slide-text">
                                    INVESTIGATE
                                    <span class="rotatez">fracking,gentrification,drones,missing money,other stuff,things,shiny things</span>&nbsp;
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <section class="action text-center">
        <div class="action-wrapper">
            <div class="container">
                <div class="wrapper">
                    <div class="row">
                        <div class="col-lg-12 animaze fromTop">
                            <h4 class="white text-center">WE'RE LOOKING FOR CITIZEN JOURNALISTS LIKE YOU </h4>
                            <br/>
                            <nav class="cl-effect-8">
                                <a href="javascript:;" data-hover="test">Submit a Proposal</a>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END Call to Action -->
    <!-- BEGIN About -->
    <section id="team" class="about">

        <div class="team">
            <div class="container">
                <div class="wrapper">
                    <div class="row">
                        <div class="col-lg-12 animaze fromTop">
                            <div class="title text-center">
                                <h1>STAFF TEAM</h1>
                                <hr/>
                            </div>
                        </div>
                        <div class="col-lg-12 animaze fromBottom">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue scelerisque bibendum. Vivamus sit amet libero turpis, non venenatis urna. In blandit, odio convallis suscipit.
                            </p>
                            <div class="row">
                                <div class="col-lg-4 animaze fromBottom">
                                    <div class="cprofile">
                                        <div class="lightbox-item">
                                            <img src="{{ STATIC_URL }}memandang/images/about-us-avatar-2.jpg" alt="Project Name 2">
                                            <div class="lightbox-item-overlay-content"><a class="preview popup" href="{{ STATIC_URL }}memandang/images/about-us-avatar-2.jpg" data-fancybox-group="pf-gallery" title="Your Name"><i class="icon-search"></i></a><a class="permalink" href="mailto:email@email.com" target="_blank"><i class="icon-envelope-alt"></i></a>
                                            </div>
                                        </div>
                                        <h3>John Doe</h3>
                                        <span>Manager/CEO</span>
                                        <p>Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue scelerisque bibendum</p>
                                        <a href="javascript:;"><i class="icon-facebook icon-mini"></i></a>
                                        <a href="javascript:;"><i class="icon-twitter icon-mini"></i></a>
                                    </div>
                                </div>
                                <div class="col-lg-4 animaze fromTop">
                                    <div class="cprofile">
                                        <div class="lightbox-item">
                                            <img src="{{ STATIC_URL }}memandang/images/about-us-avatar-1.jpg" alt="Project Name 2">
                                            <div class="lightbox-item-overlay-content"><a class="preview popup" href="{{ STATIC_URL }}memandang/images/about-us-avatar-1.jpg" data-fancybox-group="pf-gallery" title="Your Name"><i class="icon-search"></i></a><a class="permalink" href="mailto:email@email.com" target="_blank"><i class="icon-envelope-alt"></i></a>
                                            </div>
                                        </div>
                                        <h3>Marmut Nakall</h3>
                                        <span>Manager/CEO</span>
                                        <p>Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue scelerisque bibendum</p>
                                        <a href="javascript:;"><i class="icon-facebook icon-mini"></i></a>
                                        <a href="javascript:;"><i class="icon-twitter icon-mini"></i></a>
                                    </div>
                                </div>
                                <div class="col-lg-4 animaze fromTop">
                                    <div class="cprofile">
                                        <div class="lightbox-item">
                                            <img src="{{ STATIC_URL }}memandang/images/about-us-avatar-2.jpg" alt="Project Name 2">
                                            <div class="lightbox-item-overlay-content"><a class="preview popup" href="{{ STATIC_URL }}memandang/images/about-us-avatar-2.jpg" data-fancybox-group="pf-gallery" title="Your Name"><i class="icon-search"></i></a><a class="permalink" href="mailto:email@email.com" target="_blank"><i class="icon-envelope-alt"></i></a>
                                            </div>
                                        </div>
                                        <h3>Michael Moez</h3>
                                        <span>Manager/CEO</span>
                                        <p>Phasellus quis lectus metus, at posuere neque. Sed pharetra nibh eget orci convallis at posuere leo convallis. Sed blandit augue vitae augue scelerisque bibendum</p>
                                        <a href="javascript:;"><i class="icon-facebook icon-mini"></i></a>
                                        <a href="javascript:;"><i class="icon-twitter icon-mini"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END About -->
    <!-- BEGIN Contact -->
    <section id="contact" class="contact" style="background:url('{{ STATIC_URL }}memandang/images/contact-background.jpg');">
        <div class="contact-wrapper">
            <div class="container">
                <div class="wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <div id="contact-slider">
                                <ul>
                                    <li>
                                        <!-- Contact details -->
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <form class="contact-form" novalidate="" id="contactForm">
                                                    <div class="col-lg-12">
                                                        <div class="row">
                                                            <div class="col-lg-6">
                                                                <input type="text" class="form-control" placeholder="Your Name">
                                                            </div>
                                                            <div class="col-lg-6">
                                                                <input type="text" class="form-control" placeholder="Email">
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <input type="text" class="form-control" placeholder="Subject">
                                                            </div>
                                                            <div class="col-lg-12">
                                                                <textarea class="form-control" placeholder="Message..." rows="5"></textarea>
                                                            </div>
                                                            <button class="button button-white-side">Send message</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="col-lg-6">
                                                <div class="bio">
                                                    <h3>// indiepen</h3>
                                                    <p>Questions and comments are welcome, so please, drop us a line.</p>
                                                </div>
                                                <ul class="bioextra">
                                                    <li>
                                                        <strong>Made In</strong>
                                                        <i>Brooklyn NY</i>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        
                                    </li>
                                    <li>
                                        <!-- Map -->
                                        <div class="map-wrapper">
                                            <div id="map"></div>
                                        </div>
                                        <p><a data-rel="1" href="javascript:;" class="contactLink hovercolor return-to"><i class="icon-long-arrow-left"></i> Return to contact details</a>
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="credits">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <p class="credits-title">MADE WITH LOVE BY <a class="hovercolor" href="javascript:;">DEVEL PIXEL</a> &copy;&nbsp;2013.</p>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6">
                                <p class="credits-title-link"><a class="hovercolor" href="javascript:;">Contact</a> / <a class="hovercolor" href="javascript:;">Press</a> / <a class="hovercolor" href="javascript:;">Blog</a> / <a class="hovercolor" href="javascript:;">Terms</a>
                                </p>
                            </div>
                        </div>
                        <div class="scroll-up"><a href="#home-slide"><i class="icon-angle-up"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END Contact -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}memandang/js/lib/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}memandang/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}memandang/js/lib/smoothscroll.js"></script>
    <script src="{{ STATIC_URL }}memandang/js/lib/jquery.superslides.min.js"></script>
    <script src="{{ STATIC_URL }}memandang/js/lib/jquery.sudoslider.min.js"></script>
    <script src="{{ STATIC_URL }}memandang/js/lib/jquery.parallax.js"></script>
    <script src="{{ STATIC_URL }}memandang/js/lib/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
    <script src="{{ STATIC_URL }}memandang/js/lib/gmap3.min.js"></script>
    <script src="{{ STATIC_URL }}memandang/js/lib/jquery.inview.min.js"></script>
    <script src="{{ STATIC_URL }}memandang/js/lib/jquery.simple-text-rotator.min.js"></script>
    <script src="{{ STATIC_URL }}memandang/js/lib/jquery.mixitup.min.js"></script>
    <script src="{{ STATIC_URL }}memandang/js/main.js"></script>
</body>

</html>
