<!DOCTYPE html>


<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Develpixel">
    <link rel="shortcut icon" href="{{ STATIC_URL }}memandang/images/favicon/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{ STATIC_URL }}memandang/images/favicon/favicon.ico" type="image/x-icon">

    <title>indiepen - Welcome</title>

    <!-- PACE.JS -->
    <script src="{{ STATIC_URL }}memandang/js/lib/pace.min.js"></script>
    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}memandang/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}memandang/css/lib/font-awesome.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}memandang/css/styles.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}memandang/css/scheme/soft-green.css" rel="stylesheet" id="clscheme">
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="{{ STATIC_URL }}memandang/js/html5shiv.js"></script>
      <script src="{{ STATIC_URL }}memandang/js/respond.min.js"></script>
    <![endif]-->
</head>

<body data-spy="scroll" data-target="#navbar">
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&appId=1399331067001450&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <div id="lazyload"></div>
    {% include "base/navbar.html"%}

    <!-- BEGIN Slider -->
    <div id="home-slide">
        <ul class="slides-container text-center">
            <li>
                <!-- Slide -->
                <div class="slides-filter"></div>
                <div style="background-image: url('{{ STATIC_URL }}memandang/images/home-slide-3.jpg');" class="bg-parallax parallaxize"></div>
                <div class="bigHeader slideUp">
                    <div class="front-logo"></div>
                    <h1 class="white uppercase">Journalism with your agenda</h1>
                    <hr class="white">
                    <p><a href="/login/facebook/" class="button button-white-side">Submit a Proposal</a>
                    <a href="#about" class="button button-white-side">Find Out More</a>
                    </p>
                </div>
            </li>
            <li>
                <!-- Slide -->
                <div class="slides-filter"></div>
                <div style="background-image: url('{{ STATIC_URL }}memandang/images/home-slide-1.jpg');" class="bg-parallax parallaxize"></div>
                <div class="bigHeader slideUp">
                <div class="front-logo"></div>
                    <hr class="white">
                    <h1 class="hugetext white">We're Social</h1>
                    <p>
                        <a href="https://www.facebook.com/indiepen"><i class="icon-facebook icon-social button-white-side"></i></a>
                        <a href="https://www.twitter.com/indiepen_app"><i class="icon-twitter icon-social button-white-side"></i></a>
                        <a href="http://indiepenapp.tumblr.com/"><i class="icon-tumblr icon-social button-white-side"></i></a>
                    </p>
                </div>
            </li>
        </ul>
        <nav class="slides-navigation">
            <a href="javascript:;" class="prev"><i class="icon-angle-left"></i></a>
            <a href="javascript:;" class="next"><i class="icon-angle-right"></i></a>
        </nav>
    </div>
    <!-- END Slider -->
    <!-- BEGIN Intro -->
    <section id="about" class="about top-pad">
        <div class="container">
            <div class="wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h2 class="grey text-center">indiepen is a marketplace for the service of investigation.</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END Intro -->
    <!-- BEGIN Howto -->
    <section id="howto" class="howto">
        <div class="container">
            <div class="wrapper">
                <div class="row">
                    <div class="col-lg-12  animaze fromTop">
                        <div class="title text-center">
                            <h1>HOW IT WORKS</h1>
                            <hr/>
                        </div>
                    </div>
                    <!-- featured 1 -->
                    <div class="col-lg-4 animaze fromTop">
                        <div class="featured-box">
                            <div class="featured-icon">
                                <i class="icon-resize-full"></i>
                                <span></span>
                            </div>
                            <div class="featured-desc">
                                <h3>MAKE A PROPOSAL</h3>
                                <p>Tell the world what you want to work on: how often, for how long, and how much it will cost. Throw in any video, pictures, audio, text, or files you need to tell your story. Submit it for the public's approval.</p>
                            </div>
                        </div>
                    </div>
                    <!-- featured 2 -->
                    <div class="col-lg-4 animaze fromTop">
                        <div class="featured-box">
                            <div class="featured-icon">
                                <i class="icon-wrench"></i>
                                <span></span>
                            </div>
                            <div class="featured-desc">
                                <h3>CROSS THE THRESHHOLD</h3>
                                <p>Every proposal has a minimum funding threshhold. If enough money is pledged within 30 days, it immediately converts to funded. Then, money is withdrawn from the pledgers accounts and put in escrow.  Any further pledges are immediately added to escrow after this point.</p>
                            </div>
                        </div>
                    </div>
                    <!-- featured 3 -->
                    <div class="col-lg-4 animaze fromTop">
                        <div class="featured-box">
                            <div class="featured-icon">
                                <i class="icon-eye-open"></i>
                                <span></span>
                            </div>
                            <div class="featured-desc">
                                <h3>WORK AND GET PAID</h3>
                                <p>Once your proposal becomes a funded project it's time to get to work.  If you specified an upfront cash requirement it gets disbursed right away.  After this point, you get paid a chunk of what's in escrow every time you post content to your project.</p>
                            </div>
                        </div>
                    </div>
                    <!-- featured 3 -->
                    <div class="col-lg-12 animaze fromTop">
                        <div class="featured-box">
                            <div class="featured-icon">
                                <i class="icon-eye-open"></i>
                                <span></span>
                            </div>
                            <div class="featured-desc">
                                <h3>TRANSPARENCY</h3>
                                <p>Indiepen tracks who puts in contributions of money and content to each project and publicizes that history when the content is published. It's impossible to eliminate bias, but in this way we hope to expose it so that your audience can make up their own mind who to trust.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END Howto -->
    <section class="action text-center">
        <div class="action-wrapper">
            <div class="container">
                <div class="wrapper">
                    <div class="row">
                        <div class="col-lg-12 animaze fromLeft">
                            <h1 class="white text-center">WE'RE LOOKING FOR FREELANCE JOURNALISTS LIKE YOU </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END Call to Action -->
    <!-- BEGIN Call to Action -->
        <div class="slider-about-wrapper parallaxize" style="background:url('{{ STATIC_URL }}memandang/images/about-us-background.jpg');">
            <div class="slider-about top-pad bottom-pad">
                <div class="container">
                    <div class="wrapper">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center">
                            <nav class="cl-effect-8">
                                <h1><a href="/login/facebook/" data-hover="test">Submit a Proposal</a></h1>
                            </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    <!-- BEGIN About -->
    <section id="team" class="about">

        <div class="team">
            <div class="container">
                <div class="wrapper">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                                            <div class="col-lg-4">

                                </div>
                                <div class="col-lg-4">
                                    <div class="cprofile text-center">
                                        <div>
                                            <img src="{{ STATIC_URL }}img/staff/selfie.png" alt="Project Name 2">
                                        </div>
                                        <h3>Eric Neuman</h3>
                                        <span>Founder</span>
                                        <p>Information junkie, full-stack engineer and product expert, Eric co-founded and was CTO/VP Products at DecisionDesk for 5 Years before becoming an Advisor. Now he's turning his tech and entrepreneurial skills towards common good projects.</p>
                                        <a href="http://www.facebook.com/eric.neuman"><i class="icon-facebook icon-mini"></i></a>
                                        <a href="http://www.twitter.com/eric_neuman"><i class="icon-twitter icon-mini"></i></a>
                                    </div>
                                </div>
                                <div class="col-lg-4">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- END About -->
    {% block post_extra %}
    {% endblock %}
    {% include "base/contact.html"%}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ STATIC_URL }}memandang/js/lib/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}memandang/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}memandang/js/lib/smoothscroll.js"></script>
    <script src="{{ STATIC_URL }}memandang/js/lib/jquery.superslides.min.js"></script>
    <script src="{{ STATIC_URL }}memandang/js/lib/jquery.sudoslider.min.js"></script>
    <script src="{{ STATIC_URL }}memandang/js/lib/jquery.parallax.js"></script>
    <script src="{{ STATIC_URL }}memandang/js/lib/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="https://maps.google.com/maps/api/js?sensor=false&amp;language=en"></script>
    <script src="{{ STATIC_URL }}memandang/js/lib/gmap3.min.js"></script>
    <script src="{{ STATIC_URL }}memandang/js/lib/jquery.inview.min.js"></script>
    <script src="{{ STATIC_URL }}memandang/js/lib/jquery.simple-text-rotator.min.js"></script>
    <script src="{{ STATIC_URL }}memandang/js/lib/jquery.mixitup.min.js"></script>
    <script src="{{ STATIC_URL }}memandang/js/main.js"></script>
    {% include "base/analytics.html"%}
</body>

</html>
