<!doctype html>
<html lang="en" ng-app="phonecatApp">
<head>
  <meta charset="utf-8">
  <title ng-bind-template="Google Phone Gallery: {{query}}">Google Phone Gallery</title>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/app.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/animations.css">

  <script src="{{ STATIC_URL }}lib/jquery/jquery-1.10.2.js"></script>
  <script src="{{ STATIC_URL }}lib/angular/angular.js"></script>
  <script src="{{ STATIC_URL }}lib/angular/angular-animate.js"></script>
  <script src="{{ STATIC_URL }}lib/angular/angular-resource.js"></script>
  <script src="{{ STATIC_URL }}lib/angular/angular-route.js"></script>

  <script src="{{ STATIC_URL }}js/app.js"></script>
  <script src="{{ STATIC_URL }}js/animations.js"></script>
  <script src="{{ STATIC_URL }}js/controllers.js"></script>
  <script src="{{ STATIC_URL }}js/filters.js"></script>
  <script src="{{ STATIC_URL }}js/services.js"></script>
</head>
<body>

  <div class="view-container">
    <div ng-view class="view-frame"></div>
  </div>

</body>
</html>