{% extends "bootstrap.html" %}

{% block title %}Indiepen{% endblock %}

{{{% block showcase %}
	<div class="row">
	{% for project in projects %}
            <div class="col-6 col-sm-6 col-lg-4">
              <img class="img-thumbnail" src='http://static2.wikia.nocookie.net/__cb20121210005646/memoryalpha/en/images/6/6c/William_T._Riker,_2365.jpg'></img>
              <h2>{{ project.title }}</h2>
              <p>{{ project.brief|truncatechars:300}}</p>
              <p><a class="btn btn-default" href="{{ project.get_absolute_url }}" role="button">View details &raquo;</a></p>
            </div><!--/span-->
    {% endfor %}
    </div><!--/row-->}}
{% endblock %}