{% extends "bootstrap.html" %}
{% load markdown_deux_tags %}

{% block title %}Indiepen{% endblock %}

{% block showcase %}

<div class="js-masonry" data-masonry-options='{ "itemSelector": ".item" }'>

  {% for m in medias %}

    {% if m.medium == "IMA" %}
    {% if focus %}
      <div class="col-lg-12 item">
    {% else %}
      {% if m.importance == "low" %}<div class="col-md-3 item">{% elif m.importance == "med" %}<div class="col-md-6 item">{% elif m.importance == "hig" %}<div class="col-md-9 item">{% else %} <div class="col-lg-12 item">{% endif %}
    {% endif %}
    
      <a href="{{ m.get_absolute_url }}"><img class="img-thumbnail" src='{{m.get_file_url }}'></img></a>
      <p><a href="{{ m.get_absolute_url }}" >{{ m.get_file_name }}</a> | {{ m.brief }}</p>
      <p>media id: {{m.id}} order: {{m.sort_order}} importance {{ m.importance }}</p>
    </div>
    {% endif %}

    {% if m.medium == "TXT" %}
      {% if focus %}
        <div class="col-lg-12 item">
      {% else %}
      {% if m.importance == "low" %}<div class="col-md-3 item">{% elif m.importance == "med" %}<div class="col-md-6 item">{% elif m.importance == "hig" %}<div class="col-md-9 item">{% else %} <div class="col-lg-12 item">{% endif %}
      {% endif %}
      media id: {{m.id}}
      <h2><a href="{{ m.get_absolute_url }}">{{ m.get_file_name }}</a></h2>
      {{ m.get_content|markdown }}
      <div class="panel">
        <div class="row">
          <p>{{ m.brief }}</p>
          <p>media id: {{m.id}} order: {{m.sort_order}} importance {{ m.importance }}</p>
        </div>
      </div>
    </div>
    {% endif %}

      {% if m.medium == "DAT" %}
      media id: {{m.id}} order: {{m.sort_order}} importance {{ m.importance }}
        <div class="panel terques-chart">
            <div class="panel-body chart-texture">
                <div class="chart">
                    <div class="heading">
                        <span>{{ m.get_file_name }}</span>
                        <strong></strong>
                    </div>
                    <div class="sparkline" data-type="line" data-resize="true" data-height="75" data-width="90%" data-line-width="1" data-line-color="#fff" data-spot-color="#fff" data-fill-color="" data-highlight-line-color="#fff" data-spot-radius="4" data-data="[{% for value in m.get_content_data_values %}{{ value }}{% if forloop.last %}{% else %},{% endif %}{% endfor %}]"><canvas style="display: inline-block; width: 363px; height: 75px; vertical-align: top;" width="363" height="75"></canvas></div>
                </div>
            </div>
            <div class="chart-tittle">
                <span class="title">Title goes here</span>
                <span class="value">
                    <a href="{{ m.get_absolute_url }}">{{ m.get_file_name }}</a>
                </span>
            </div>
        </div>
      {% endif %}
  {% endfor %}
</div>

{% endblock %}

{% block audit %}
{% endblock %}