{% extends "bootstrap.html" %}

{% block title %}Indiepen{% endblock %}

{% block showcase %}
{% include "project/graphs.html" with download=True%}
  <section class="panel js-masonry" data-masonry-options='{ "itemSelector": ".item" }'>
    <div class="panel-heading">
      {% if not noun.published %}<span class="badge bg-warning">Not Yet Published</span>{% endif %}
      {% if post.submitted %}<span class="badge bg-warning">Submitted for Approval</span>{% endif %}
      </div>
    <div class="panel-body">
      <section >
      {% with medias=post.get_medias %}
        {% include "media/list.html" with download=True%}
      {% endwith %}
      </section>
    </div>
  </section>
{% endblock %}

{% block audit %}
{% endblock %}