{% extends "bootstrap.html" %}
{% load markdown_deux_tags %}
{% block title %}Indiepen{% endblock %}
{% block showcase %}
  <section class="js-masonry" data-masonry-options='{ "itemSelector": ".item" }'>
    {% for post in posts %}
    <section class="col-md-3 item">
      <section class="panel">
        <div class="panel-heading">
          <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
          {% if not post.published %}<span class="badge bg-warning">Not Yet Published</span>{% endif %}
          {% if post.submitted %}<span class="badge bg-warning">Submitted for Approval</span>{% endif %}
        </div>
        <div class="panel-body">
          {% for m in post.get_summary_medias %}
            {% include "media/representation.html" %}
          {%endfor %}
        </div>
      </section>
    </section>
    {% endfor %}
  </section>
{% endblock %}
{% block audit %}
{% endblock %}