{% extends "bootstrap.html" %}

{% block title %}Indiepen{% endblock %}

{% block showcase %}
  <div class="panel">
  	<!--<img class="img-circle" src='http://lorempixel.com/600/600'></img>-->
    <h1>{{ project.title }}</h1>
    <p class="big-first-letter">{{ project.brief }}</p>
    <p>Raised: {{ project.get_total_pledged }}</p>
	<div class="progress progress-striped active">
	  <div class="progress-bar"  role="progressbar" aria-valuenow="{{ project.get_percent_pledged }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ project.get_percent_pledged }}%">
	    <span class="sr-only">{{ project.get_percent_pledged }}% Complete</span>
	  </div>
	</div>
	<p><a class="btn btn-success" href="{{ project.get_create_pledge_url }}" role="button">Pledge &raquo;</a></p>
	<ul class="list-group">
	  <li class="list-group-item">Ask: {{ project.ask }}</li>
	  <li class="list-group-item">Duration: {{ project.duration }}</li>
	  <li class="list-group-item">Frequency: {{ frequency }}</li>
	  <li class="list-group-item">Medium: {{ project.medium }}</li>
	</ul>
  </div>

                      <!--timeline start-->
                      <section class="panel">
                          <div class="panel-body">
                                  <div class="text-center mbot30">
                                      <h3 class="timeline-title">Timeline</h3>
                                      <p class="t-info">This is a project timeline</p>
                                  </div>

                                  <div class="timeline">
                                  	{% for post in project.get_posts %}
                                      	<article class="{% if forloop.counter|divisibleby:2 %}timeline-item{% else %}timeline-item alt{% endif %}">
                                          <div class="timeline-desk">
                                              <div class="panel">
                                                  <div class="panel-body">
                                                      <span class="{% if forloop.counter|divisibleby:2 %}arrow{% else %}arrow-alt{% endif %}"></span>
                                                      <span class="timeline-icon purple"></span>
                                                      <span class="timeline-date">{{ project.created_at|date:"g:i a" }}</span>
                                                      <h1 class="purple">{{ post.created_at }}</h1>
                                                      <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                                      <p>{{ post.brief }}</p>
                                                  </div>
                                              </div>
                                          </div>
                                      </article>
                                     {% endfor %}

                                  </div>

                                  <div class="clearfix">&nbsp;</div>
                              </div>
                      </section>
                      <!--timeline end-->
                

{% endblock %}

{% block audit %}
<div class="col-lg-6">
  <section class="panel">
      <header class="panel-heading">
          Pledges
      </header>
      <div class="panel-body">
          <div class="timeline-messages">
				{% for pledge in project.get_pledges %}
              <!-- Comment -->
              <div class="msg-time-chat">
                  <a href="#" class="message-img"><img class="avatar" src="http://lorempixel.com/50/50" alt=""></a>
                  <div class="message-body msg-out">
                      <span class="arrow"></span>
                      <div class="text">
                          <p class="attribution"><a href="#">{{ pledge.person.user.first_name }} {{ pledge.person.user.last_name }}</a> at 2:05pm, 13th April 2013</p>
                          <p>{{ pledge.ammount }}</p>
                      </div>
                  </div>
              </div>
              <!-- /comment -->
              {% endfor %}
          </div>
          
      </div>
  </section>
</div>
<div class="col-lg-6">
  <section class="panel">
      <header class="panel-heading">
          Team
      </header>
      <div class="panel-body">
		{% for person in project.get_members %}
		<div class="row">
		          <section class="panel">
		              <div class="user-heading round">
		                  <a href="#">
		                      <img src="http://lorempixel.com/100/100" alt="">
		                  </a>
		                  <h1>{{ person.user.first_name }} {{ person.user.last_name }}</h1>
		                  <p>jsmith@flatlab.com</p>
		              </div>

		              <ul class="nav nav-pills nav-stacked">
		                  <li class="active"><a href="profile.html"> <i class="icon-user"></i> Profile</a></li>
		                  <li><a href="profile-activity.html"> <i class="icon-calendar"></i> Recent Activity <span class="label label-danger pull-right r-activity">9</span></a></li>
		                  <li><a href="profile-edit.html"> <i class="icon-edit"></i> Edit profile</a></li>
		              </ul>

		          </section>
		          </div>
        {% endfor %}
          
      </div>
  </section>
</div>

	




{% endblock %}