{% extends "bootstrap.html" %}

{% block title %}Indiepen{% endblock %}

{% block showcase %}
  <div class="panel">
  	<!--<img class="img-circle" src='http://lorempixel.com/600/600'></img>-->
    <h1>{{ project.title }}</h1>
    <p class="big-first-letter">{{ project.brief }}</p>
    <p>Raised: {{ project.get_total_pledged }}</p>
	<div class="progress progress-striped active">
	  <div class="progress-bar"  role="progressbar" aria-valuenow="{{ project.get_percent_pledged }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ project.get_percent_pledged }}%">
	    <span class="sr-only">{{ project.get_percent_pledged }}% Complete</span>
	  </div>
	</div>
	<p><a class="btn btn-success" href="{{ project.get_create_pledge_url }}" role="button">Pledge &raquo;</a></p>
	<ul class="list-group">
	  <li class="list-group-item">Ask: {{ project.ask }}</li>
	  <li class="list-group-item">Duration: {{ project.duration }}</li>
	  <li class="list-group-item">Frequency: {{ frequency }}</li>
	  <li class="list-group-item">Medium: {{ project.medium }}</li>
	</ul>
  </div>
	<div class="row">
	{% for pledge in project.get_pledges %}
            <div class="col-6 col-sm-6 col-lg-4 well">
				<div class="media">
				  <a class="pull-left" href="#">
				    <img src="http://lorempixel.com/50/50" class="media-object">
				  </a>
				  <div class="media-body">
				    <h4 class="media-heading">{{ pledge.person.user.first_name }} {{ pledge.person.user.last_name }}</h4>
				    {{ pledge.ammount }}
				  </div>
				</div>
            </div><!--/span-->
    {% endfor %}
    </div><!--/row-->
{% endblock %}