{% extends "bootstrap.html" %}
{% load markdown_deux_tags %}

{% block title %}Indiepen{% endblock %}

{% block showcase %}

<div class="col-md-9">
    <section class="panel">
        <header class="panel-heading">
            Stream
            <span class="tools pull-right">
              <a class="fa fa-chevron-down" href="javascript:;"></a>
              <a class="fa fa-times" href="javascript:;"></a>
          </span>
        </header>
        <div class="panel-body">
            <div class="timeline-messages">
{% for s in stream %}
          <!-- Comment -->
          <div class="msg-time-chat">
            <a href="#" class="message-img"><span class="avatar glyphicon glyphicon-user"></span></a>
            <div class="message-body msg-in ">
                <span class="arrow"></span>
                <div class="text row">
                    <div class="col-xs-5 col-md-9">
                    <p class="attribution">{{ s.timestamp }}</p>
                    <a href="/users/{{ s.actor.id}}/">{{ s.actor.first_name }} {{ s.actor.last_name }}</a>{{ s.verb }} <a href="{{ s.target.get_absolute_url }}">{{ s.target }}</a>
                        <p><a href="{{ m.get_absolute_url }}" >{{ m.get_file_name }}</a> {{ m.brief }}</p>
                    </div>
                    <div>
                        {% with m=s.action_object.instance %}
                            <div class="col-xs-6 col-md-3">
                            {% if m.get_class_name == "Media" %}
                                {% if m.medium == "IMA" %}
                                    <a href="{{ m.get_absolute_url }}" class="thumbnail">
                                        <img src='{{ m.get_file_url }}' style="height: 180px; width: 100%; display: block;"></img>
                                    </a>
                                {% elif m.medium == "TXT" %}
                                    {{ m.get_content |truncatechars:200 |markdown}}
                                {% endif %}
                            {% elif m.get_class_name == "Project" %}
                                <a href="{{ m.get_absolute_url }}" class="thumbnail">
                                    <img src='{{ m.get_thumb_url }}' style="height: 180px; width: 100%; display: block;"></img>
                                </a>
                            {% else %}
                                {% if s.action_object.get_class_name == "Pledge" %}
                                    <a class="thumbnail">${{ s.action_object.value }}</a>
                                {% else %}
                                    
                                {% endif %}
                            {% endif %}
                            </div>
                        {% endwith %}
                    </div>
                </div>

            </div>
        </div>
        <!-- /comment -->
        {% endfor %}
            </div>
        </div>
    </section>
</div>




{% endblock %}

{% block audit %}
{% endblock %}